/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0 0 0px 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size:13px;
  font-weight:bold;
  position: relative;
  padding-left: 2.25em;
  padding-right: 2.5em;
  height: 3.0em;
  text-align: top;
}
.nav-toggle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0em;
  width: 1.5em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.3em 0 0 black,
    0 0.6em 0 0 black;
}

#popularContainer #leftMenu a:hover {
	color: #592a8a;
	margin-left: 0px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}


.nav-toggle a:hover{
	color: #592a8a;
	margin-left: 0px;
	font-weight: normal;
	text-decoration: none;
	font-size: 13px;
}

.nav-toggle a {
	color: #592a8a;
	margin-left: 0px;
	font-weight: normal;
	text-decoration: none;
	font-size: 13px;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
